@import "tailwindcss";

body {
  background-color: white;
  color: #040a1c;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lavishly-yours {
  font-family: "Lavishly Yours", cursive;
  font-weight: 600;
  font-style: normal;
}

.molle {
  font-family: "Molle", cursive;
  font-weight: 500;
  font-style: italic;
}


.testCss {
  border: 2px solid black;
}